# FLIGHT DELAY VISUALIZATION & MODELING

## By Ravi Surdhar, Dec 2018

This notebook uses the 2015 Flight Delays Dataset from Kaggle, as well as the Iowa State University AWOS Download Service, and attempts to generate a model to predict flight delays and cancellations based on airport weather. 

The tech stack includes Pandas, Seaborn, Matplotlib, Scikit-Learn, and TensorFlow. Topics explored include: identifying and fixing corrupted data, big data techniques and optimizations, web scraping, data visualization, and model selection and evaluation.

### OVERVIEW
#### 1. Introduction & Data Cleanup
*Fixing Corrupted Data*

*Reduction & Optimization*
#### 2. Web Scraping & Adding Weather Data
#### 3. Visualization
#### 4. Modeling

## Data Cleanup

First, let's import the usual suspects.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_columns', 35)

In [3]:
flights = pd.read_csv('flights.csv')
airport_iata_id = pd.read_csv('airport_iata_id.csv', index_col=0)
print(flights.info(memory_usage='deep'))
flights.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
YEAR                   int64
MONTH                  int64
DAY                    int64
DAY_OF_WEEK            int64
AIRLINE                object
FLIGHT_NUMBER          int64
TAIL_NUMBER            object
ORIGIN_AIRPORT         object
DESTINATION_AIRPORT    object
SCHEDULED_DEPARTURE    int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE               int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL      int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED               int64
CANCELLED              int64
CANCELLATION_REASON    object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtypes: float64(16), int64(10), object(5)
memory usage: 2.6 GB
None

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,5.819073e+06,5.714008e+06,5.714008e+06,5.819079e+06,5.726566e+06,5.726566e+06,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,1.416859e+02,1.370062e+02,1.135116e+02,8.223565e+02,1.471469e+03,7.434971e+00,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,7.521058e+01,7.421107e+01,7.223082e+01,6.077843e+02,5.221879e+02,5.638548e+00,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,1.800000e+01,1.400000e+01,7.000000e+00,2.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,8.500000e+01,8.200000e+01,6.000000e+01,3.730000e+02,1.054000e+03,4.000000e+00,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,1.230000e+02,1.180000e+02,9.400000e+01,6.470000e+02,1.509000e+03,6.000000e+00,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,1.730000e+02,1.680000e+02,1.440000e+02,1.062000e+03,1.911000e+03,9.000000e+00,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,7.180000e+02,7.660000e+02,6.900000e+02,4.983000e+03,2.400000e+03,2.480000e+02,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [4]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

Wow, 2.6 GB! Let's start by whittling that down. First, we can drop columns that we don't think will provide any correlation to how delayed a flight will be.

In [5]:
flights_reduced1 = flights.drop(['FLIGHT_NUMBER', 'TAIL_NUMBER', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'], axis=1)
flights_reduced1.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 16 columns):
YEAR                   int64
MONTH                  int64
DAY                    int64
DAY_OF_WEEK            int64
AIRLINE                object
ORIGIN_AIRPORT         object
DESTINATION_AIRPORT    object
SCHEDULED_DEPARTURE    int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
SCHEDULED_ARRIVAL      int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED               int64
CANCELLED              int64
CANCELLATION_REASON    object
dtypes: float64(4), int64(8), object(4)
memory usage: 1.6 GB

That saved 1 GB right there! Good start! We'll continue to do some more memory optimizations in a moment, but for now, let's make sure our dataframe has no errors by making sure all the numeric columns make sense, and the string columns all contain what we expect.

In [6]:
print(flights_reduced1.describe())
print(flights_reduced1['AIRLINE'].unique())
print(flights_reduced1['ORIGIN_AIRPORT'].unique())
print(flights_reduced1['DESTINATION_AIRPORT'].unique())
print(flights_reduced1['CANCELLATION_REASON'].unique())

            YEAR         MONTH           DAY   DAY_OF_WEEK  \
count  5819079.0  5.819079e+06  5.819079e+06  5.819079e+06
mean      2015.0  6.524085e+00  1.570459e+01  3.926941e+00
std          0.0  3.405137e+00  8.783425e+00  1.988845e+00
min       2015.0  1.000000e+00  1.000000e+00  1.000000e+00
25%       2015.0  4.000000e+00  8.000000e+00  2.000000e+00
50%       2015.0  7.000000e+00  1.600000e+01  4.000000e+00
75%       2015.0  9.000000e+00  2.300000e+01  6.000000e+00
max       2015.0  1.200000e+01  3.100000e+01  7.000000e+00

       SCHEDULED_DEPARTURE  DEPARTURE_TIME  DEPARTURE_DELAY  \
count         5.819079e+06    5.732926e+06     5.732926e+06
mean          1.329602e+03    1.335204e+03     9.370158e+00
std           4.837518e+02    4.964233e+02     3.708094e+01
min           1.000000e+00    1.000000e+00    -8.200000e+01
25%           9.170000e+02    9.210000e+02    -5.000000e+00
50%           1.325000e+03    1.330000e+03    -2.000000e+00
75%           1.730000e+03    1.740000e+03     7.000000e+00
max           2.359000e+03    2.400000e+03     1.988000e+03

       SCHEDULED_ARRIVAL  ARRIVAL_TIME  ARRIVAL_DELAY      DIVERTED  \
count       5.819079e+06  5.726566e+06   5.714008e+06  5.819079e+06
mean        1.493808e+03  1.476491e+03   4.407057e+00  2.609863e-03
std         5.071647e+02  5.263197e+02   3.927130e+01  5.102012e-02
min         1.000000e+00  1.000000e+00  -8.700000e+01  0.000000e+00
25%         1.110000e+03  1.059000e+03  -1.300000e+01  0.000000e+00
50%         1.520000e+03  1.512000e+03  -5.000000e+00  0.000000e+00
75%         1.918000e+03  1.917000e+03   8.000000e+00  0.000000e+00
max         2.400000e+03  2.400000e+03   1.971000e+03  1.000000e+00

          CANCELLED
count  5.819079e+06
mean   1.544643e-02
std    1.233201e-01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.000000e+00
['AS' 'AA' 'US' 'DL' 'NK' 'UA' 'HA' 'B6' 'OO' 'EV' 'MQ' 'F9' 'WN' 'VX']
['ANC' 'LAX' 'SFO' 'SEA' 'LAS' 'DEN' 'SLC' 'PDX' 'FAI' 'MSP' 'PHX' 'SJU'
 'PBG' 'IAG' 'PSE' 'BQN' 'ORD' 'GEG' 'HNL' 'ONT' 'MCO' 'BOS' 'HIB' 'ABR'
 'MAF' 'DFW' 'MKE' 'IAH' 'BNA' 'BRO' 'VPS' 'BOI' 'BJI' 'SGF' 'PHL' 'SBN'
 'RDD' 'EUG' 'IAD' 'BUF' 'PWM' 'JFK' 'CRP' 'PIA' 'FAT' 'SMF' 'AUS' 'MCI'
 'ATL' 'JAX' 'MFR' 'IDA' 'MSN' 'DCA' 'SAT' 'CHS' 'SBA' 'SMX' 'IND' 'CLE'
 'GSP' 'BDL' 'ABI' 'RIC' 'BFL' 'OMA' 'RDM' 'FLL' 'CID' 'TPA' 'SYR' 'ROC'
 'TYR' 'LAN' 'XNA' 'GSO' 'EWR' 'PBI' 'RSW' 'OAK' 'PVD' 'RNO' 'PIT' 'ABQ'
 'MIA' 'BWI' 'LGA' 'TUL' 'LIT' 'MSY' 'OKC' 'ATW' 'PNS' 'MEM' 'TYS' 'MHT'
 'SAV' 'CLT' 'GRB' 'ABE' 'JAN' 'OAJ' 'FAR' 'ERI' 'LEX' 'CWA' 'MSO' 'TTN'
 'AMA' 'CLL' 'HOU' 'JLN' 'MLI' 'RDU' 'CVG' 'MHK' 'MOB' 'TLH' 'BHM' 'CAE'
 'TXK' 'ACY' 'DTW' 'RAP' 'TUS' 'EAU' 'DLH' 'FSD' 'INL' 'CMX' 'SPI' 'CLD'
 'COD' 'CMH' 'LRD' 'PSC' 'CPR' 'ACV' 'DAL' 'PAH' 'MRY' 'ESC' 'ISN' 'PSP'
 'MFE' 'STL' 'BTV' 'FSM' 'AEX' 'SPS' 'ACT' 'SJT' 'MTJ' 'GCC' 'OGG' 'SJC'
 'GUC' 'ORF' 'MOT' 'MLU' 'KOA' 'SAN' 'LAW' 'PIB' 'MGM' 'SBP' 'COS' 'LAR'
 'DRO' 'BIS' 'ITO' 'BTR' 'GRI' 'HLN' 'BZN' 'MDW' 'MDT' 'SCE' 'LIH' 'TWF'
 'BPT' 'GPT' 'STC' 'HPN' 'MLB' 'PLN' 'CIU' 'CAK' 'DSM' 'BLI' 'SHV' 'ROW'
 'FWA' 'SNA' 'ALB' 'HOB' 'LNK' 'CMI' 'COU' 'GTF' 'EKO' 'LGB' 'AVL' 'HSV'
 'SAF' 'GRR' 'SUX' 'LFT' 'HYS' 'ELP' 'DVL' 'ISP' 'BUR' 'DAB' 'DAY' 'GRK'
 'GJT' 'BMI' 'LBE' 'ASE' 'RKS' 'GUM' 'TVC' 'ALO' 'IMT' 'LCH' 'JNU' 'JAC'
 'MEI' 'DBQ' 'GCK' 'GNV' 'BRD' 'DIK' 'SDF' 'LBB' 'AVP' 'BTM' 'ELM' 'PIH'
 'ICT' 'SUN' 'LWS' 'VEL' 'STT' 'YUM' 'FLG' 'FCA' 'HDN' 'JMS' 'ROA' 'CHA'
 'EYW' 'MYR' 'CRW' 'MQT' 'CHO' 'ECP' 'EVV' 'EGE' 'MBS' 'GFK' 'TOL' 'BIL'
 'OTZ' 'KTN' 'STX' 'ILM' 'PUB' 'RHI' 'CDC' 'HRL' 'SCC' 'FNT' 'LSE' 'MMH'
 'APN' 'AGS' 'CEC' 'DHN' 'WRG' 'PHF' 'CNY' 'BRW' 'GGG' 'AZO' 'SRQ' 'ORH'
 'TRI' 'VLD' 'SIT' 'BQK' 'PSG' 'FAY' 'MKG' 'CSG' 'EWN' 'OME' 'SGU' 'RST'
 'GTR' 'BET' 'ABY' 'SWF' 'ILG' 'ADK' 'UST' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' '14747'
 '14771' '12889' '12892' '14869' '10299' '11292' '14107' '11630' '10732'
 '14254' '10141' '10627' '11982' '12173' '13930' '14683' '12266' '11618'
 '10721' '13487' '11884' '15919' '13851' '11111' '10693' '12191' '14783'
 '15016' '14487' '10423' '15370' '11953' '13891' '15376' '11778' '11278'
 '14100' '13204' '15304' '11637' '14842' '10155' '11775' '11298' '11057'
 '13931' '10821' '14122' '11049' '10990' '10631' '13158' '14108' '13198'
 '11447' '12206' '13495' '14057' '15624' '10747' '15411' '12891' '10994'
 '13256' '10792' '14492' '12451' '13127' '10781' '14960' '12278' '14685'
 '11995' '13485' '11977' '10257' '13796' '13232' '13296' '14570' '14893'
 '14524' '12217' '10713' '10208' '10136' '11603' '14689' '11471' '11315'
 '13264' '12478' '14814' '11308' '11066' '12896' '10397' '14307' '11721'
 '11140' '10185' '13277' '11203' '13342' '11433' '11697' '12953' '10599'
 '12156' '14952' '10620' '11042' '15096' '10408' '15249' '11423' '12915'
 '12264' '12339' '10140' '13871' '14027' '13244' '11267' '11540' '14576'
 '10868' '13486' '13476' '14489' '12945' '15607' '10529' '11986' '14635'
 '13303' '10785' '15380' '11996' '10561' '10874' '13367' '10146' '10431'
 '11973' '10980' '12197' '14098' '12323' '10577' '11150' '10135' '11617'
 '13795' '13029' '11003' '11146' '11577' '15356' '11259' '10279' '14321'
 '14843' '11638' '14828' '11481' '12951' '10434' '12448' '14730' '15323'
 '14252' '11193' '10849' '14193' '14986' '11641' '12992' '13422' '11612'
 '11823' '11980' '13290' '10158' '10685' '13377' '11109' '11076' '11122'
 '11865' '14543' '14905' '11587' '14457' '12335' '12343' '12003' '10157'
 '12884' '14633' '15048' '10268' '15295' '12389' '11525' '14262' '12888'
 '12391' '11648' '14696' '12758' '13830' '10469' '15412' '10731' '14679'
 '14831' '11413' '13433' '12982' '11867' '14698' '11537' '15389' '12402'
 '11337' '13360' '13076' '14006' '10728' '15401' '13230' '12016' '11067'
 '11274' '11921' '12519' '11013' '10779' '14150' '14794' '12511' '12177'
 '12523' '14908' '12007' '14588' '13577' '13061' '15041' '14109' '10800'
 '12954' '12441' '12898' '11695' '16218' '14113' '11624' '11503' '10739'
 '14574' '14711' '12129' '15070' '14520' '13184' '11252' '12280' '13241'
 '11898' '15024' '14674' '10551' '12819' '13459' '10581' '13970' '10372'
 '10918' '14709' '12255' 11267 12266 10821 14771 11433 11982 11905 15411
 14679 14108 10397 13871 11618 14574 10423 11259 10800 11140 12191 12889
 13198 10529 10693 13232 11540 14570 14635 14831 11298 13204 11278 14100
 12892 12478 13930 15304 14107 12523 12954 11697 14057 12339 13487 14893
 11986 11292 14576 15370 12402 14908 12953 12758 15016 10721 12264 10685
 11612 13277 11057 12891 12197 11193 13495 13891 13244 14843 14747 11996
 10333 14262 11695 13342 14698 10431 15376 12451 14524 13830 13796 14122
 14960 16218 10713 11066 10208 14683 14869 14492 11638 11413 10792 10408
 14689 10980 14952 12951 15323 11884 14307 14730 14783 11603 11977 11921
 13577 13061 13851 11042 12448 12992 10874 12896 11308 12173 12206 13377
 10747 13256 13303 10185 10599 10140 15295 11898 13795 10728 10994 12391
 10299 12217 13290 12007 11109 15096 10627 13433 15249 12278 12915 11637
 13931 13485 11721 11775 13476 15841 14027 15380 12945 11315 15919 13360
 10868 14986 12982 10279 11150 13264 14193 11823 13367 10469 11423 11337
 11252 13029 14696 11049 13296 14685 13158 12323 10257 14588 11274 13344
 13933 15412 13422 11146 15991 13230 14794 11003 14828 10781 10990 10785
 10434 14457 11481 11537 10136 14814 10754 10135 10731 13127 14321 10849
 14098 10146 15607 11624 12177 10158 12884 15624 14256 11973 14842 15356
 10561 14113 15389 14489 12094 12888 13076 12129 13873 10157 11995 10631
 12441 12343 14252 11097 10732 10154 11122 11641 13486 12003 10620 10779
 12335 11076 15041 12156 12280 10926 12819 11865 12519 11778 10551 12389
 11953 12898 15024 10155 11013 10372 11587 13964 11980 11630 11648 14905
 11525 15070 11471 11111 14633 11447 11203 13241 12511 11067 10268 13184
 10141 13541 14150 15027 14109 15048 14006 10739 14520 11617 14487 11867
 14674 14543 10577 10170 11577 14709 14711 12255 10165 10918 15401 13970
 15497 12265 14254 10581 12016 11503 13459 14222 14025 13502 '15841'
 '13344' '15991' '10754' '14256' '13873' '11097' '10926' '13964' '11905'
 '15027' '13933' '10170' '10333' '14222' '14025' '13502' '15497' '12265']
['SEA' 'PBI' 'CLT' 'MIA' 'ANC' 'MSP' 'DFW' 'ATL' 'IAH' 'PDX' 'MCI' 'FLL'
 'ORD' 'HNL' 'PHX' 'EWR' 'JFK' 'MCO' 'BOS' 'BDL' 'ITO' 'SFO' 'KOA' 'OGG'
 'MYR' 'DTW' 'LIH' 'DEN' 'SJU' 'LAX' 'BWI' 'IAD' 'BQN' 'BUF' 'LGA' 'HOU'
 'SLC' 'PHL' 'SJC' 'OAK' 'LGB' 'TPA' 'DCA' 'TTN' 'BTR' 'LAS' 'RSW' 'BRD'
 'STL' 'RKS' 'MBS' 'SNA' 'MEI' 'MDW' 'SAN' 'RIC' 'AUS' 'OTZ' 'PIT' 'JAX'
 'MSY' 'ONT' 'PSP' 'BUR' 'DAL' 'CVG' 'SMF' 'RDU' 'JMS' 'BNA' 'DSM' 'MAF'
 'BOI' 'ELP' 'TUS' 'SCC' 'HPN' 'STT' 'MDT' 'RHI' 'SBP' 'MKE' 'JNU' 'CMH'
 'CLD' 'KTN' 'CAK' 'CRP' 'CLE' 'GPT' 'SHV' 'TYS' 'IND' 'LIT' 'SAT' 'SRQ'
 'TUL' 'GRK' 'PNS' 'BTV' 'CHS' 'DAY' 'OKC' 'SAV' 'XNA' 'COS' 'GJT' 'BZN'
 'PUB' 'HRL' 'HDN' 'MEM' 'GEG' 'ORH' 'SYR' 'GSO' 'VPS' 'LAW' 'ACY' 'LBB'
 'JAC' 'BIL' 'EUG' 'ASE' 'TVC' 'MTJ' 'CAE' 'PVD' 'HSV' 'CDC' 'YUM' 'ABQ'
 'TLH' 'MLI' 'AMA' 'EGE' 'MOB' 'JAN' 'FWA' 'MSN' 'BIS' 'MFR' 'APN' 'BHM'
 'OMA' 'LFT' 'GRR' 'MMH' 'CEC' 'SBA' 'RNO' 'CLL' 'LEX' 'LAN' 'DLH' 'SDF'
 'FAT' 'SPS' 'SGF' 'CID' 'FSM' 'MGM' 'MFE' 'AVP' 'SJT' 'ROA' 'LRD' 'MRY'
 'AGS' 'ROC' 'AEX' 'ISN' 'MLB' 'ORF' 'ICT' 'ECP' 'PIA' 'BPT' 'ACT' 'EYW'
 'FSD' 'MLU' 'CHA' 'WRG' 'FNT' 'DIK' 'MHK' 'CNY' 'BRW' 'GRB' 'ATW' 'SAF'
 'TYR' 'MKG' 'FLG' 'FCA' 'BTM' 'EVV' 'DRO' 'LNK' 'DBQ' 'FAR' 'OME' 'GSP'
 'GUC' 'MSO' 'TXK' 'MOT' 'RAP' 'ISP' 'PWM' 'GGG' 'SBN' 'BFL' 'MHT' 'ROW'
 'SIT' 'CMX' 'FAY' 'ILM' 'CMI' 'ALB' 'ABI' 'GTF' 'BMI' 'COU' 'HOB' 'GNV'
 'SUN' 'SPI' 'PSG' 'BRO' 'AVL' 'TOL' 'SGU' 'GCC' 'HLN' 'CPR' 'PIH' 'BET'
 'VEL' 'RDM' 'HYS' 'PSC' 'COD' 'INL' 'FAI' 'EKO' 'BJI' 'IDA' 'IMT' 'RST'
 'HIB' 'ABR' 'STC' 'ACV' 'ESC' 'CIU' 'SWF' 'DAB' 'TRI' 'AZO' 'CRW' 'STX'
 'GRI' 'CHO' 'GCK' 'PLN' 'LSE' 'SMX' 'RDD' 'PHF' 'LCH' 'GTR' 'LAR' 'ERI'
 'PAH' 'EAU' 'LBE' 'BLI' 'DVL' 'CWA' 'ILG' 'OAJ' 'ABE' 'ALO' 'ABY' 'DHN'
 'TWF' 'ADK' 'ELM' 'VLD' 'PIB' 'SUX' 'GUM' 'SCE' 'UST' 'BQK' 'JLN' 'LWS'
 'MQT' 'EWN' 'CSG' 'PBG' 'PSE' 'IAG' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG' 'GFK'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' '11298'
 '13487' '13303' '11057' '13930' '10693' '14747' '12266' '12478' '14057'
 '10397' '13198' '12173' '11618' '13204' '12402' '12758' '14771' '11292'
 '13830' '14107' '12982' '11697' '12519' '13577' '14869' '12339' '13232'
 '11259' '15016' '12892' '12889' '10140' '10721' '15304' '14679' '14100'
 '10732' '10821' '14831' '14843' '14570' '12191' '11433' '12264' '14893'
 '13796' '12953' '14122' '13495' '12451' '11042' '11278' '14908' '13342'
 '13891' '10299' '12523' '12954' '14520' '12129' '10713' '10431' '11066'
 '10994' '10423' '10792' '14683' '10800' '10551' '11193' '14307' '11540'
 '14635' '13851' '15376' '11884' '14492' '14027' '13970' '13184' '13296'
 '10599' '11986' '14698' '11423' '13244' '14574' '12992' '13241' '12217'
 '13871' '12197' '11003' '15919' '14524' '14689' '10529' '14576' '11995'
 '11267' '12819' '14633' '11996' '13256' '13158' '12448' '10781' '13422'
 '16218' '15370' '10868' '14730' '13931' '13485' '14986' '15024' '11823'
 '11721' '14685' '10257' '12206' '12255' '12951' '14709' '14321' '12391'
 '14794' '10874' '12278' '11638' '10372' '11122' '14457' '15096' '12896'
 '11109' '10279' '11481' '15412' '14814' '11641' '10980' '12945' '10990'
 '10157' '13076' '13230' '15295' '10918' '13933' '11953' '10135' '14262'
 '11067' '13277' '11603' '10561' '11612' '15624' '11977' '15380' '13367'
 '14193' '10333' '11778' '11140' '14783' '10136' '14842' '11049' '14696'
 '11695' '11637' '15401' '14674' '13061' '10685' '11982' '10469' '11921'
 '14108' '11413' '12891' '11905' '14960' '15411' '10155' '10747' '10728'
 '13290' '13433' '10208' '11973' '15323' '10849' '13360' '13795' '14952'
 '13377' '10408' '10627' '13344' '13476' '11775' '10158' '11898' '13029'
 '15249' '11337' '12915' '15356' '13264' '11252' '10185' '11624' '12323'
 '15841' '10785' '11146' '14098' '10434' '12389' '15991' '11315' '11150'
 '12884' '11537' '11274' '11076' '10754' '13873' 13930 10599 11697 12266
 14492 11298 14869 14683 11278 15016 13244 11433 12951 13931 11259 10423
 14893 11721 12191 14107 14122 14679 13796 11292 13232 12339 14771 14908
 13204 11540 13303 12889 13487 12953 10721 13198 11057 14100 15304 14828
 12982 14057 10136 11193 11042 12173 11618 15412 13495 15370 10397 14814
 11308 10685 11982 14747 14831 13851 12892 13296 11638 14321 11884 12992
 14027 15919 12007 13830 10731 14685 12884 10135 11996 12478 12217 13485
 11973 10792 14730 10800 11986 11481 10821 10140 10299 14842 10980 12197
 10990 12945 10781 11995 10257 13891 13158 12264 12758 10279 14588 10185
 13377 14524 10693 12206 15376 12451 11066 11603 14689 11003 11267 15607
 10994 14635 13342 14576 15096 14986 12278 12448 10146 14262 10713 14307
 15024 10157 13422 10874 14570 14843 15070 14193 13486 12003 13127 13264
 12177 12441 12523 14794 12094 12156 14113 12280 11641 14489 10849 12896
 14256 10561 12954 10620 11097 10779 11122 10631 12888 15389 15041 14252
 12343 12129 11648 10154 13577 14457 13076 12898 13029 12389 13871 10529
 12402 11637 13256 12335 11865 11775 10551 15249 10747 15624 12391 10208
 10926 12819 11423 13367 14952 13277 11980 11977 11778 15411 13964 11953
 11630 11049 11013 11587 15380 11823 11252 11111 14698 11624 13795 12915
 14108 11695 11612 10627 13360 15027 10469 14696 14574 15323 11203 14633
 11337 13241 14098 10408 10155 11146 13061 14905 13433 11471 14783 10785
 11140 12511 12323 10868 14960 10431 10268 11447 11067 13290 15048 13541
 13476 16218 11150 12891 11921 10141 14150 14006 13184 11537 10434 13230
 11617 11525 11898 11109 11867 14711 11577 12016 14520 14487 10739 14109
 10165 11413 10158 15356 14709 12255 14543 11274 15841 10577 14674 10170
 10333 10728 13970 15295 15401 15991 11905 10918 15497 10754 13344 11503
 13459 13873 11315 12519 11076 10581 12265 14254 10732 10372 13933 14222
 14025 13502 '10146' '13486' '12003' '13127' '12441' '12177' '12156'
 '14113' '14256' '14489' '10620' '11097' '10779' '10631' '12888' '15389'
 '15041' '14252' '12343' '12898' '11648' '12280' '12335' '11865' '10731'
 '10926' '11980' '11630' '11013' '11587' '11111' '13964' '15027' '11203'
 '15070' '14150' '11471' '14905' '12511' '10268' '15048' '11447' '11577'
 '10141' '11308' '11617' '11525' '11867' '12016' '10739' '14711' '14006'
 '14109' '14487' '15607' '14543' '14588' '10577' '10170' '12007' '14828'
 '14222' '13459' '13502' '14254' '14025' '15497' '12265' '10581' '10666']
[nan 'A' 'B' 'C' 'D']

The numeric columns all make sense: all of the years are 2015, the months go from 1 to 12 with a mean of 7, etc. There's also the same number of entries in the YEAR column as there are in the MONTH, DAY, DAY_OF_WEEK, SCHEDULED_DEPARTURE, SCHEDULED_ARRIVAL, and CANCELLED columns, just as we'd expect (some flights wouldn't have a DEPARTURE_TIME, DEPARTURE_DELAY, etc if they're cancelled). CANCELLED makes sense too; it's a one-hot encoded, with 1 indicating that the flight was cancelled.

For the string columns, CANCELLATION_REASON is what we expect, where the different letters correspond to the reason for a cancellation, and a NaN value if the flight was not cancelled. AIRLINE is also what we'd expect, as those are two-letter identifiers that are given in the airlines.csv file. 

However, the airports are clearly corrupted. All of the entries in ORIGIN_AIRPORT and DESTINATION_AIRPORT should be three-letter IATA airport identifiers, but there are a bunch of strings of five numbers, as well as a bunch of five-digit integers. Let's fix that next.

After quite a bit of digging, it turns out that the corrupted airport entries are only for flights in Oct. So let's start by isolating those.

In [7]:
corrupted_flights = flights_reduced1[flights_reduced1['MONTH'] ==10]
corrupted_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON
4385712,2015,10,1,4,AA,14747,11298,5,15.0,10.0,602,543.0,-19.0,0,0,NaN
4385713,2015,10,1,4,DL,14771,13487,5,16.0,11.0,538,528.0,-10.0,0,0,NaN
4385714,2015,10,1,4,NK,12889,13487,5,2400.0,-5.0,502,448.0,-14.0,0,0,NaN
4385715,2015,10,1,4,AA,12892,13303,10,7.0,-3.0,806,813.0,7.0,0,0,NaN
4385716,2015,10,1,4,AA,14771,11057,10,8.0,-2.0,801,750.0,-11.0,0,0,NaN

Luckily, the person from the Department of Transportation who uploaded the dataset included an Airport ID.csv file, which contains a column of five-digit airport IDs and a column of names. We can merge this with a list of all airports with the IATA codes (also from the DOT) to create a dictionary of key : value pairs corresponding to ID : IATA.

In [10]:
airport_id = pd.read_csv('AIRPORT ID.csv')
airport_iata = pd.read_csv('AIRPORT IATA.csv')
airport_iata_id = pd.merge(airport_iata, airport_id, on='Description')
airport_iata_id.rename({'Code_x': 'IATA', 'Code_y': 'ID'}, axis=1, inplace=True)
airport_dictionary = airport_iata_id[['ID', 'IATA']].set_index('ID').to_dict()['IATA']

Before we can use the dictionary to replace the corrupted airports, we first need to convert all of airports that are five-digit strings to five-digit integers, because our dictionary keys are all integers. Then we can run the replacement. With tens of thousands of flights in our corrupted_flights dataframe, this replacement takes a few minutes!

In [11]:
corrupted_flights['ORIGIN_AIRPORT'] = pd.to_numeric(corrupted_flights['ORIGIN_AIRPORT'])
corrupted_flights['DESTINATION_AIRPORT'] = pd.to_numeric(corrupted_flights['DESTINATION_AIRPORT'])
fixed_flights = corrupted_flights.replace({'ORIGIN_AIRPORT' : airport_dictionary, 'DESTINATION_AIRPORT' : airport_dictionary})

Finally, we can merge our fixed_flights with our flights_reduced1 dataframe, then do a couple checks on the results.

In [12]:
merged_flights = flights_reduced1[flights_reduced1['MONTH'] < 10].append(fixed_flights).append(flights_reduced1[flights_reduced1['MONTH'] > 10])
print(merged_flights['MONTH'].unique(), '\n',               # Expect to see all 12 months
    merged_flights['ORIGIN_AIRPORT'].unique(), '\n',        # Expect to see only 3-letter IATA strings
    merged_flights['ORIGIN_AIRPORT'].nunique(), '\n',
    merged_flights['DESTINATION_AIRPORT'].unique(), '\n',   # Expect to see only 3-letter IATA strings
    merged_flights['DESTINATION_AIRPORT'].nunique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]
 ['ANC' 'LAX' 'SFO' 'SEA' 'LAS' 'DEN' 'SLC' 'PDX' 'FAI' 'MSP' 'PHX' 'SJU'
 'PBG' 'IAG' 'PSE' 'BQN' 'ORD' 'GEG' 'HNL' 'ONT' 'MCO' 'BOS' 'HIB' 'ABR'
 'MAF' 'DFW' 'MKE' 'IAH' 'BNA' 'BRO' 'VPS' 'BOI' 'BJI' 'SGF' 'PHL' 'SBN'
 'RDD' 'EUG' 'IAD' 'BUF' 'PWM' 'JFK' 'CRP' 'PIA' 'FAT' 'SMF' 'AUS' 'MCI'
 'ATL' 'JAX' 'MFR' 'IDA' 'MSN' 'DCA' 'SAT' 'CHS' 'SBA' 'SMX' 'IND' 'CLE'
 'GSP' 'BDL' 'ABI' 'RIC' 'BFL' 'OMA' 'RDM' 'FLL' 'CID' 'TPA' 'SYR' 'ROC'
 'TYR' 'LAN' 'XNA' 'GSO' 'EWR' 'PBI' 'RSW' 'OAK' 'PVD' 'RNO' 'PIT' 'ABQ'
 'MIA' 'BWI' 'LGA' 'TUL' 'LIT' 'MSY' 'OKC' 'ATW' 'PNS' 'MEM' 'TYS' 'MHT'
 'SAV' 'CLT' 'GRB' 'ABE' 'JAN' 'OAJ' 'FAR' 'ERI' 'LEX' 'CWA' 'MSO' 'TTN'
 'AMA' 'CLL' 'HOU' 'JLN' 'MLI' 'RDU' 'CVG' 'MHK' 'MOB' 'TLH' 'BHM' 'CAE'
 'TXK' 'ACY' 'DTW' 'RAP' 'TUS' 'EAU' 'DLH' 'FSD' 'INL' 'CMX' 'SPI' 'CLD'
 'COD' 'CMH' 'LRD' 'PSC' 'CPR' 'ACV' 'DAL' 'PAH' 'MRY' 'ESC' 'ISN' 'PSP'
 'MFE' 'STL' 'BTV' 'FSM' 'AEX' 'SPS' 'ACT' 'SJT' 'MTJ' 'GCC' 'OGG' 'SJC'
 'GUC' 'ORF' 'MOT' 'MLU' 'KOA' 'SAN' 'LAW' 'PIB' 'MGM' 'SBP' 'COS' 'LAR'
 'DRO' 'BIS' 'ITO' 'BTR' 'GRI' 'HLN' 'BZN' 'MDW' 'MDT' 'SCE' 'LIH' 'TWF'
 'BPT' 'GPT' 'STC' 'HPN' 'MLB' 'PLN' 'CIU' 'CAK' 'DSM' 'BLI' 'SHV' 'ROW'
 'FWA' 'SNA' 'ALB' 'HOB' 'LNK' 'CMI' 'COU' 'GTF' 'EKO' 'LGB' 'AVL' 'HSV'
 'SAF' 'GRR' 'SUX' 'LFT' 'HYS' 'ELP' 'DVL' 'ISP' 'BUR' 'DAB' 'DAY' 'GRK'
 'GJT' 'BMI' 'LBE' 'ASE' 'RKS' 'GUM' 'TVC' 'ALO' 'IMT' 'LCH' 'JNU' 'JAC'
 'MEI' 'DBQ' 'GCK' 'GNV' 'BRD' 'DIK' 'SDF' 'LBB' 'AVP' 'BTM' 'ELM' 'PIH'
 'ICT' 'SUN' 'LWS' 'VEL' 'STT' 'YUM' 'FLG' 'FCA' 'HDN' 'JMS' 'ROA' 'CHA'
 'EYW' 'MYR' 'CRW' 'MQT' 'CHO' 'ECP' 'EVV' 'EGE' 'MBS' 'GFK' 'TOL' 'BIL'
 'OTZ' 'KTN' 'STX' 'ILM' 'PUB' 'RHI' 'CDC' 'HRL' 'SCC' 'FNT' 'LSE' 'MMH'
 'APN' 'AGS' 'CEC' 'DHN' 'WRG' 'PHF' 'CNY' 'BRW' 'GGG' 'AZO' 'SRQ' 'ORH'
 'TRI' 'VLD' 'SIT' 'BQK' 'PSG' 'FAY' 'MKG' 'CSG' 'EWN' 'OME' 'SGU' 'RST'
 'GTR' 'BET' 'ABY' 'SWF' 'ILG' 'ADK' 'UST' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' 'BSM']
 323
 ['SEA' 'PBI' 'CLT' 'MIA' 'ANC' 'MSP' 'DFW' 'ATL' 'IAH' 'PDX' 'MCI' 'FLL'
 'ORD' 'HNL' 'PHX' 'EWR' 'JFK' 'MCO' 'BOS' 'BDL' 'ITO' 'SFO' 'KOA' 'OGG'
 'MYR' 'DTW' 'LIH' 'DEN' 'SJU' 'LAX' 'BWI' 'IAD' 'BQN' 'BUF' 'LGA' 'HOU'
 'SLC' 'PHL' 'SJC' 'OAK' 'LGB' 'TPA' 'DCA' 'TTN' 'BTR' 'LAS' 'RSW' 'BRD'
 'STL' 'RKS' 'MBS' 'SNA' 'MEI' 'MDW' 'SAN' 'RIC' 'AUS' 'OTZ' 'PIT' 'JAX'
 'MSY' 'ONT' 'PSP' 'BUR' 'DAL' 'CVG' 'SMF' 'RDU' 'JMS' 'BNA' 'DSM' 'MAF'
 'BOI' 'ELP' 'TUS' 'SCC' 'HPN' 'STT' 'MDT' 'RHI' 'SBP' 'MKE' 'JNU' 'CMH'
 'CLD' 'KTN' 'CAK' 'CRP' 'CLE' 'GPT' 'SHV' 'TYS' 'IND' 'LIT' 'SAT' 'SRQ'
 'TUL' 'GRK' 'PNS' 'BTV' 'CHS' 'DAY' 'OKC' 'SAV' 'XNA' 'COS' 'GJT' 'BZN'
 'PUB' 'HRL' 'HDN' 'MEM' 'GEG' 'ORH' 'SYR' 'GSO' 'VPS' 'LAW' 'ACY' 'LBB'
 'JAC' 'BIL' 'EUG' 'ASE' 'TVC' 'MTJ' 'CAE' 'PVD' 'HSV' 'CDC' 'YUM' 'ABQ'
 'TLH' 'MLI' 'AMA' 'EGE' 'MOB' 'JAN' 'FWA' 'MSN' 'BIS' 'MFR' 'APN' 'BHM'
 'OMA' 'LFT' 'GRR' 'MMH' 'CEC' 'SBA' 'RNO' 'CLL' 'LEX' 'LAN' 'DLH' 'SDF'
 'FAT' 'SPS' 'SGF' 'CID' 'FSM' 'MGM' 'MFE' 'AVP' 'SJT' 'ROA' 'LRD' 'MRY'
 'AGS' 'ROC' 'AEX' 'ISN' 'MLB' 'ORF' 'ICT' 'ECP' 'PIA' 'BPT' 'ACT' 'EYW'
 'FSD' 'MLU' 'CHA' 'WRG' 'FNT' 'DIK' 'MHK' 'CNY' 'BRW' 'GRB' 'ATW' 'SAF'
 'TYR' 'MKG' 'FLG' 'FCA' 'BTM' 'EVV' 'DRO' 'LNK' 'DBQ' 'FAR' 'OME' 'GSP'
 'GUC' 'MSO' 'TXK' 'MOT' 'RAP' 'ISP' 'PWM' 'GGG' 'SBN' 'BFL' 'MHT' 'ROW'
 'SIT' 'CMX' 'FAY' 'ILM' 'CMI' 'ALB' 'ABI' 'GTF' 'BMI' 'COU' 'HOB' 'GNV'
 'SUN' 'SPI' 'PSG' 'BRO' 'AVL' 'TOL' 'SGU' 'GCC' 'HLN' 'CPR' 'PIH' 'BET'
 'VEL' 'RDM' 'HYS' 'PSC' 'COD' 'INL' 'FAI' 'EKO' 'BJI' 'IDA' 'IMT' 'RST'
 'HIB' 'ABR' 'STC' 'ACV' 'ESC' 'CIU' 'SWF' 'DAB' 'TRI' 'AZO' 'CRW' 'STX'
 'GRI' 'CHO' 'GCK' 'PLN' 'LSE' 'SMX' 'RDD' 'PHF' 'LCH' 'GTR' 'LAR' 'ERI'
 'PAH' 'EAU' 'LBE' 'BLI' 'DVL' 'CWA' 'ILG' 'OAJ' 'ABE' 'ALO' 'ABY' 'DHN'
 'TWF' 'ADK' 'ELM' 'VLD' 'PIB' 'SUX' 'GUM' 'SCE' 'UST' 'BQK' 'JLN' 'LWS'
 'MQT' 'EWN' 'CSG' 'PBG' 'PSE' 'IAG' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG' 'GFK'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' 'BSM']
 323

Looks good! Our next step will be to only include flights in our dataframe that are the in the top 1000 most travelled routes. Airports with only a few flights will most likely create outliers in our data that will throw off our modeling.

In [13]:
flights_grouped = flights.groupby(['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT'])
top_1000 = flights_grouped.size().reset_index(name='counts').sort_values(by='counts', ascending=False).head(1000)
top_airports = np.unique(np.append(top_1000['ORIGIN_AIRPORT'].unique(), top_1000['DESTINATION_AIRPORT'].unique()))
flights_reduced2 = flights_reduced1[flights_reduced1['ORIGIN_AIRPORT'].isin(top_airports) & flights_reduced1['DESTINATION_AIRPORT'].isin(top_airports)]
print(top_1000.head())
print(top_1000.tail())

      ORIGIN_AIRPORT DESTINATION_AIRPORT  counts
11867            SFO                 LAX   13744
10165            LAX                 SFO   13457
9949             JFK                 LAX   12016
10130            LAX                 JFK   12015
10053            LAS                 LAX    9715
      ORIGIN_AIRPORT DESTINATION_AIRPORT  counts
9970             JFK                 SAN    1710
9256             EWR                 LAS    1707
9085             DTW                 DCA    1705
8271             BWI                 ALB    1704
11650            SAN                 IAH    1701

This looks reasonable. Our least common route in our dataframe has fewer than 5 flights per day, and our most common has 37 flights per day, so this spans a little less than one order of magnitude. (In retrospect, using only the top 1000 routes is a little arbitrary. I could have used only routes within one order of magnitude of the most common route. Also, there are 27132 routes with less than one flight per day!) Let's take a look at our new flights_reduced2 dataframe.

In [14]:
print(flights_reduced2.describe())
print(flights_reduced2.info(memory_usage='deep'))

            YEAR         MONTH           DAY   DAY_OF_WEEK  \
count  4764554.0  4.764554e+06  4.764554e+06  4.764554e+06
mean      2015.0  6.213215e+00  1.569010e+01  3.916054e+00
std          0.0  3.383147e+00  8.774449e+00  1.992848e+00
min       2015.0  1.000000e+00  1.000000e+00  1.000000e+00
25%       2015.0  3.000000e+00  8.000000e+00  2.000000e+00
50%       2015.0  6.000000e+00  1.600000e+01  4.000000e+00
75%       2015.0  9.000000e+00  2.300000e+01  6.000000e+00
max       2015.0  1.200000e+01  3.100000e+01  7.000000e+00

       SCHEDULED_DEPARTURE  DEPARTURE_TIME  DEPARTURE_DELAY  \
count         4.764554e+06    4.693421e+06     4.693421e+06
mean          1.329576e+03    1.335907e+03     1.001457e+01
std           4.845708e+02    4.980484e+02     3.736194e+01
min           1.000000e+00    1.000000e+00    -6.800000e+01
25%           9.150000e+02    9.180000e+02    -5.000000e+00
50%           1.325000e+03    1.330000e+03    -1.000000e+00
75%           1.733000e+03    1.742000e+03     8.000000e+00
max           2.359000e+03    2.400000e+03     1.988000e+03

       SCHEDULED_ARRIVAL  ARRIVAL_TIME  ARRIVAL_DELAY      DIVERTED  \
count       4.764554e+06  4.688742e+06   4.678367e+06  4.764554e+06
mean        1.497301e+03  1.478582e+03   4.884206e+00  2.553230e-03
std         5.097062e+02  5.305028e+02   3.963220e+01  5.046495e-02
min         1.000000e+00  1.000000e+00  -8.700000e+01  0.000000e+00
25%         1.110000e+03  1.058000e+03  -1.300000e+01  0.000000e+00
50%         1.524000e+03  1.515000e+03  -5.000000e+00  0.000000e+00
75%         1.923000e+03  1.921000e+03   8.000000e+00  0.000000e+00
max         2.400000e+03  2.400000e+03   1.971000e+03  1.000000e+00

          CANCELLED
count  4.764554e+06
mean   1.553598e-02
std    1.236714e-01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.000000e+00
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4764554 entries, 0 to 5819077
Data columns (total 16 columns):
YEAR                   int64
MONTH                  int64
DAY                    int64
DAY_OF_WEEK            int64
AIRLINE                object
ORIGIN_AIRPORT         object
DESTINATION_AIRPORT    object
SCHEDULED_DEPARTURE    int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
SCHEDULED_ARRIVAL      int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED               int64
CANCELLED              int64
CANCELLATION_REASON    object
dtypes: float64(4), int64(8), object(4)
memory usage: 1.4 GB
None

We've reduced the number of rows by nearly 20% and the memory by 13%, but we can still do a lot better!

## Reduction & Optimization

One big consideration when working with large dataframes is to be efficient with your data types. Here, we can see that YEAR, MONTH, DAY, and DAY_OF_WEEK are all 8-byte int64, which is way bigger than we need. Even our one-hot CANCELLED column is an int64! Let's start by downcasting all of the numeric rows (note that the times are all integer values,  but they're required to be floats as ints cannot store NaN values.

In [15]:
flights_reduced2_int = flights_reduced2.select_dtypes(include=['int64'])
converted_int = flights_reduced2_int.apply(pd.to_numeric,downcast='unsigned')

flights_reduced2_float = flights_reduced2.select_dtypes(include=['float64'])
converted_float = flights_reduced2_float.apply(pd.to_numeric,downcast='float')

optimized_flights_reduced2 = flights_reduced2.copy()

optimized_flights_reduced2[converted_int.columns] = converted_int
optimized_flights_reduced2[converted_float.columns] = converted_float

print(flights_reduced2.info(memory_usage='deep', verbose=False))
print(optimized_flights_reduced2.info(memory_usage='deep', verbose=False))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4764554 entries, 0 to 5819077
Columns: 16 entries, YEAR to CANCELLATION_REASON
dtypes: float64(4), int64(8), object(4)
memory usage: 1.4 GB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4764554 entries, 0 to 5819077
Columns: 16 entries, YEAR to CANCELLATION_REASON
dtypes: float32(4), object(4), uint16(3), uint8(5)
memory usage: 1.1 GB
None

That's another 22% reduction! Not bad, but we can do better. Way better. 

Our four Object (string) columns have very few unique entries in each column. That's a perfect canditate to converting to a Catagory type, which Pandas treats as an int under the hood (see this great article for more info: https://www.dataquest.io/blog/pandas-big-data/)

In [16]:
flights_reduced2_obj = flights_reduced2.select_dtypes(include=['object']).copy()
print(flights_reduced2_obj.describe())

flights_cat = flights_reduced2_obj.astype('category')
print(flights_reduced2_obj.info(memory_usage='deep', verbose=False))
print(flights_cat.info(memory_usage='deep', verbose=False))

        AIRLINE ORIGIN_AIRPORT DESTINATION_AIRPORT CANCELLATION_REASON
count   4764554        4764554             4764554               74022
unique       14            134                 134                   4
top          WN            ATL                 ATL                   B
freq    1118581         309319              309398               39850
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4764554 entries, 0 to 5819077
Columns: 4 entries, AIRLINE to CANCELLATION_REASON
dtypes: object(4)
memory usage: 997.2 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4764554 entries, 0 to 5819077
Columns: 4 entries, AIRLINE to CANCELLATION_REASON
dtypes: category(4)
memory usage: 63.6 MB
None

997 MB down to 64 MB! That's a 94% reduction! But we still have one more trick up our sleeve!

We can combine the first 5 columns of our dataframe (YEAR, MONTH, DAY, DAY_OF_WEEK, and SCHEDULED_DEPARTURE) into a single Pandas Timestamp object (Panda's implementation of Python's DateTime type). We can do the same for the SCHEDULED_ARRIVAL. Then we can drop the DEPARTURE_TIME and ARRIVAL_TIME columns, since those columns are equal to SCHEDULED_DEPARTURE + DEPARTURE_DELAY and SCHEDULED_ARRIVAL + ARRIVAL_DELAY, respectively.

In [17]:
# Make a df containing the Year, Month, Day, Hour, and Minute of the Scheduled Departure time, then convert that to a single column of Timestamps
df = pd.concat([flights_reduced2[['YEAR', 'MONTH', 'DAY']], np.floor(flights_reduced2['SCHEDULED_DEPARTURE']/100), flights_reduced2['SCHEDULED_DEPARTURE']%100], axis=1)
df.columns = ['Year', 'Month', 'Day', 'Hour', 'Minute']
flights_reduced2['SCHEDULED_DEPARTURE_DATETIME'] = pd.to_datetime(df)

# Do the same for the Scheduled Arrival time
df = pd.concat([flights_reduced2[['YEAR', 'MONTH', 'DAY']], np.floor(flights_reduced2['SCHEDULED_ARRIVAL']/100), flights_reduced2['SCHEDULED_ARRIVAL']%100], axis=1)
df.columns = ['Year', 'Month', 'Day', 'Hour', 'Minute']
flights_reduced2['SCHEDULED_ARRIVAL_DATETIME'] = pd.to_datetime(df)

flights_reduced2.drop(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME'], axis=1, inplace=True)
flights_reduced2.rename({'SCHEDULED_DEPARTURE_DATETIME' : 'SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL_DATETIME' : 'SCHEDULED_ARRIVAL'}, axis=1, inplace=True)
flights_reduced2.head()

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL
0,AS,ANC,SEA,-11.0,-22.0,0,0,NaN,2015-01-01 00:05:00,2015-01-01 04:30:00
1,AA,LAX,PBI,-8.0,-9.0,0,0,NaN,2015-01-01 00:10:00,2015-01-01 07:50:00
2,US,SFO,CLT,-2.0,5.0,0,0,NaN,2015-01-01 00:20:00,2015-01-01 08:06:00
3,AA,LAX,MIA,-5.0,-9.0,0,0,NaN,2015-01-01 00:20:00,2015-01-01 08:05:00
4,AS,SEA,ANC,-1.0,-21.0,0,0,NaN,2015-01-01 00:25:00,2015-01-01 03:20:00

At this point, it would be convenient to write a new .csv file with only our flights_reduced2 columns. We can also store all of the optimized data types into a dictionary so that if we have to shutdown the python kernen and start it again, we can read flights.csv directly into the optimized data types.

In [18]:
flights_reduced2.to_csv('flights_reduced.csv')
optimized_flights_reduced2.drop(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME'], axis=1, inplace=True)
dtypes = optimized_flights_reduced2.dtypes
dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]
column_types = dict(zip(dtypes_col, dtypes_type))
print(dtypes_col , '\n', column_types)

Index(['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'DEPARTURE_DELAY',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON'],
      dtype='object')
 {'AIRLINE': 'object', 'ORIGIN_AIRPORT': 'object', 'DESTINATION_AIRPORT': 'object', 'DEPARTURE_DELAY': 'float32', 'ARRIVAL_DELAY': 'float32', 'DIVERTED': 'uint8', 'CANCELLED': 'uint8', 'CANCELLATION_REASON': 'object'}

Let's read that .csv back in as a new flights dataframe.

In [20]:
flights = pd.read_csv('flights_reduced.csv', 
                      index_col=0, 
                      dtype = {'AIRLINE': 'category', 
                                'ORIGIN_AIRPORT': 'category', 
                                'DESTINATION_AIRPORT': 'category', 
                                'DEPARTURE_DELAY': 'float32', 
                                'ARRIVAL_DELAY': 'float32', 
                                'DIVERTED': 'uint8', 
                                'CANCELLED': 'uint8', 
                                'CANCELLATION_REASON': 'category'}, 
                      parse_dates = ['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL']).reset_index(drop=True)

In [21]:
flights.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4764554 entries, 0 to 4764553
Data columns (total 10 columns):
AIRLINE                category
ORIGIN_AIRPORT         category
DESTINATION_AIRPORT    category
DEPARTURE_DELAY        float32
ARRIVAL_DELAY          float32
DIVERTED               uint8
CANCELLED              uint8
CANCELLATION_REASON    category
SCHEDULED_DEPARTURE    datetime64[ns]
SCHEDULED_ARRIVAL      datetime64[ns]
dtypes: category(4), datetime64[ns](2), float32(2), uint8(2)
memory usage: 145.4 MB

181.8 MB down from our original 2.6 GB! Our optimized flights dataframe uses 7% of the memory that our original one did!

In the next notebook, we'll add weather data for each flight into our dataframe.